article.tweet {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2em;
}
article.tweet header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #e1e1e1;
  height: 50px;
  filter: brightness(1.1);
  /*@media (min-width: 350px) {
    .name {
      display: inline-block;
      margin: 7px auto auto 5px;
      vertical-align: top;
    }
  }

  @media (max-width: 350px) {
    .name {
      display: inline-block;
      margin: 7px auto auto 5px;
      vertical-align: top;
      font-size-adjust: 0.8
    }
  }


  @media (min-width: 350px) {
    .handle {
      float: right;
      vertical-align: top;
      margin: 8px 5px;

      font-size: 1em;
      color: #ccc;
    }
  }

  @media (max-width: 350px) {
    .handle {
      float: right;
      vertical-align: top;
      margin: 8px 5px;

      font-size: 0.6em;
      color: #ccc;
    }
  }*/
}
article.tweet header .avatar {
  width: 40px;
  height: auto;
  margin: 5px;
  border-radius: 5px;
}
@media (min-width: 350px) {
  article.tweet header .flex-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  article.tweet header .flex-header-container .name {
    display: inline-block;
    margin: 7px auto auto 5px;
    vertical-align: top;
  }
  article.tweet header .flex-header-container .handle {
    float: right;
    vertical-align: top;
    margin: 8px 5px;
    font-size: 1em;
    color: #ccc;
  }
}
@media (max-width: 350px) {
  article.tweet header .flex-header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  article.tweet header .flex-header-container .name {
    display: inline-block;
    margin: 7px auto auto 5px;
    vertical-align: top;
    font-size-adjust: 0.8;
  }
  article.tweet header .flex-header-container .handle {
    float: right;
    vertical-align: top;
    margin: 3px 5px;
    font-size: 0.8em;
    color: #ccc;
  }
}
article.tweet .content {
  min-height: 60px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
  vertical-align: middle;
  display: flex;
  align-items: center;
  word-break: break-all;
}
article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article.tweet footer .timestamp {
  margin: 10px 5px;
  font-size: 0.5em;
}
article.tweet footer .likes {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  font-size: 0.5em;
}
article.tweet footer .likes .like-symbol-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}
article.tweet footer .likes .like-symbol-wrapper .material-icons {
  font-size: 2em;
  color: grey;
}
article.tweet footer .likes .like-symbol-wrapper .material-icons:hover, article.tweet footer .likes .like-symbol-wrapper .material-icons.clicked {
  color: red;
}

article.tweet:hover {
  border: 1px solid #ccc;
}
article.tweet:hover header {
  background-color: #eee;
  filter: brightness(1);
}

/*# sourceMappingURL=tweets.css.map */
